<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.ProductImageDOMapper">
    <resultMap id="BaseResultMap" type="com.project.demo.DO.ProductImageDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, product_id, url
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_image
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.project.demo.DO.ProductImageDO">
    insert into product_image (id, product_id, url
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.project.demo.DO.ProductImageDO">
        insert into product_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.project.demo.DO.ProductImageDO">
        update product_image
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.project.demo.DO.ProductImageDO">
    update product_image
    set product_id = #{productId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="randomSelectImg" resultType="com.project.demo.DO.ProductImageDO">
        SELECT *
        FROM product_image pi
        WHERE
        pi.id >= (
                (SELECT MAX(id) FROM product_image)-(SELECT MIN(id) FROM product_image)) * RAND() + (SELECT MIN(id) FROM product_image)
        LIMIT 6
    </select>
    <select id="selectByProductId" resultMap="BaseResultMap">
        select id, product_id, url
        from product_image
        where product_id=#{productId,jdbcType=INTEGER}
    </select>
</mapper>